{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}Contact{% endblock title %}

{% block body %}
<div id='main' role='main'>
    <div id='main-content-header'>
        <div class='container'>
            <div class='row'>
                <div class='col-sm-12'>
                    <h1 class='title'>Contact</h1>
                </div>
            </div>
        </div>
    </div>
    <div id='main-content'>
        <div class='container'>
            <div class='row'>
                <div class='col-sm-12'>
                    <p class='lead text-center no-mg-b'>Merci de remplir le formulaire suivant,<br> nous vous contacterons dans les meilleurs délais.</p>
                </div>
            </div>

            <div class='row'>
                <div class='col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2'>
                    <div class='page-header page-header-with-icon'>
                        <i class='fa fa-envelope'></i>
                        <h2>Formulaire de contact</h2>
                    </div>

                    <form class='form name="contact' action="" method='post'>
                        <div class='row'>
                            <div class='col-sm-12'>
                                {% if app.session.flashBag.get('send') == true %}
                                    <div class='alert alert-success'>Votre message a été envoyé avec succès !</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-12'>
                                <div class='form-group control-group'>
                                    <input class='form-control' required='required' name='contact[subject]' placeholder='Votre sujet' type='text'>

                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-6'>
                                <div class='form-group control-group'>
                                    <input class='form-control' required='required' name='contact[name]' placeholder='Votre nom' type='text'>
                                    <!-- / this field is required for simple anti spam function, don't remove it! -->
                                    <input class='form-control' name='human' placeholder='Are you human?' style='display: none;' type='text'>
                                </div>
                            </div>
                            <div class='col-sm-6'>
                                <div class='form-group control-group'>
                                    <input class='form-control' required='required' data-rule-required='true' name='contact[email]' placeholder='E-Mail' type='email'>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-12'>
                                <div class='form-group control-group'>
                                    <textarea class='form-control' required='required' name='contact[message]' placeholder='Votre message...'></textarea>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-12'>
                                <button class='btn btn-contrast btn-block form-contact-submit' name="contact[submit]" type='submit'>
                                    Envoyer
                                </button>
                            </div>
                            {{ form_row(form._token) }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class='fade' id='scroll-to-top'>
        <i class='fa fa-chevron-up'></i>
    </div>
</div>

{% endblock body %}