{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}Accueil{% endblock title %}

{%  block body %}


    <div id='main' role='main'>
        <!-- / carousel blur -->
        <div class='hero-carousel carousel-blur carousel-blur-arrows carousel-blur-pagination flexslider' id='carousel-example-1'>
            <ul class='slides'>
                <li class='item'>
                    <div class='container'>
                        <div class='row'>
                            <div class='col-lg-12 animate'>
                                <h1 class='big fadeInUp animated'>
                                    Association Nos Amis les Oiseaux
                                </h1>
                                <p class='normal fadeInUp animated'>Bienvenue sur notre site</p>

                            </div>
                        </div>
                    </div>
                </li>
                <li class='item'>
                    <div class='container'>
                        <div class='row'>
                            <div class='col-lg-12 animate'>
                                <h2 class='big fadeInLeftBig animated'>
                                    Passionnés et ornithologues
                                </h2>
                                <p class='normal fadeInRightBig animated'>Participer à un programme de recherche</p>

                            </div>
                        </div>
                    </div>
                </li>
                <li class='item'>
                    <div class='container'>
                        <div class='row'>
                            <div class='col-lg-12 animate'>
                                <h2 class='big fadeInRightBig animated'>Partager vos observations</h2>
                                <p class='normal fadeInLeftBig animated'>Etudes sur le climat, l'urbanisation et l'agriculture (biodiversité)</p>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div id='main-content'>
            <div class='container'>


                <div class='row'>
                    <div class='col-sm-12'>
                        <div class='page-header page-header-with-icon no-mg-t'>
                            <i class='fa fa-tag'></i>
                            <h2>
                                Qui sommes-nous ?
                            </h2>
                        </div>
                        <div class='row'>
                            <div class='col-sm-12'>
                                <p class='lead lead-xs text-center'> Cette association a pour objet la protection de toutes les espèces d'oiseaux sauvages ou domestiques.<br>
                                    La protection des oiseaux vise à lutter contre leur maltraitance et à protéger l'écosystème et l'environnement des espèces sauvages.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-12'>
                        <div class='page-header page-header-with-icon'>
                            <i class='fa fa-leaf'></i>
                            <h2>
                                Que faisons-nous ?
                            </h2>
                        </div>
                        <div class='row panels'>
                            <div class='col-sm-4 panel-item'>
                                <a class='panel panel-circle-contrast' href='#'>
                                    <div class='panel-icon'>
                                        <i class='fa fa-eye icon'></i>
                                    </div>
                                    <div class='panel-body text-center'>
                                        <h3 class='panel-title'>Nous observons</h3>
                                        <p>Les progrès de l'optique permettent aux ornithologues modernes de disposer de moyens d'observation d'une grande efficacité.</p>
                                    </div>
                                </a>
                            </div>
                            <div class='col-sm-4 panel-item'>
                                <a class='panel panel-circle-contrast' href='#'>
                                    <div class='panel-icon'>
                                        <i class='fa fa-edit icon'></i>
                                    </div>
                                    <div class='panel-body text-center'>
                                        <h3 class='panel-title'>Nous recueillons</h3>
                                        <p>Chaque association a ses propres buts, mais toutes ont en commun la collecte d'information qui consiste à l'identification des oiseaux.</p>
                                    </div>
                                </a>
                            </div>
                            <div class='col-sm-4 panel-item'>
                                <a class='panel panel-circle-contrast' href='#'>
                                    <div class='panel-icon'>
                                        <i class='fa fa-graduation-cap icon'></i>
                                    </div>
                                    <div class='panel-body text-center'>
                                        <h3 class='panel-title'>Nous étudions</h3>
                                        <p>Les migrations des oiseaux suscitent l'étonnement et font l'objet de nombreuses spéculations tant scientifiques que religieuses.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='row'>
                    <div class='col-sm-12'>
                        <div class='page-header page-header-with-icon'>
                            <i class='fa fa-suitcase'></i>
                            <h2>
                                Notre projet
                                <small>Votre participation alimentera un programme de recherche visant à étudier les impacts sur les éléments suivants :</small>
                            </h2>
                        </div>
                        <div class='row portfolio-boxes'>
                            <div class='col-sm-3 col-xs-6 no-mb-t-xs portfolio-box'>


                                    <img class="img-responsive img-rounded center-block" alt="Etiam vestibulum" width="262" height="262" src="{{ asset('bundles/occore/img/urbanisation.jpg') }}" />

                                <h3 class='title'>Urbanisation</h3>

                            </div>
                            <div class='col-sm-3 col-xs-6 no-mb-t-xs portfolio-box'>
                                    <img class="img-responsive img-rounded center-block" alt="Malesuada" width="262" height="262" src="{{ asset('bundles/occore/img/biodiversite.jpg') }}" />

                                <h3 class='title'>Biodiversité</h3>

                            </div>
                            <div class='col-sm-3 col-xs-6 portfolio-box'>

                                    <div class='image-link'>

                                        <img class="img-responsive img-rounded center-block" alt="Dictum vulputate" width="262" height="262" src="{{ asset('bundles/occore/img/climat.jpg') }}" />
                                    </div>
                                    <h3 class='title'>Climat</h3>

                            </div>
                            <div class='col-sm-3 col-xs-6 portfolio-box'>

                                    <div class='image-link'>

                                        <img class="img-responsive img-rounded center-block" alt="Agriculture" width="262" height="262" src="{{ asset('bundles/occore/img/demo/last_projects/wipe_ears.jpg') }}" />
                                    </div>
                                    <h3 class='title'>Agriculture</h3>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class='fade' id='scroll-to-top'>
            <i class='fa fa-chevron-up'></i>
        </div>
    </div>

</div>

{% endblock body %}