<!DOCTYPE html>
<html>
<head>

</head>
<body>
<style type="text/css">
    html, body { height: 100%; margin: 0; padding: 0; }
    #map { height: 100%; }
</style>

{% set param = lands|split('=') %}

<div id="map"></div>

<script type="text/javascript">

    var marker;

    var marker2;

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 2,
            center: {lat: 59.325, lng: 18.070}
        });

        {% for p in param %}
            {% for a in p|split('&') %}
                {% for c in countries %}
                    {% if a|upper == c.code %}
                        marker = new google.maps.Marker({
                            map: map,
                            draggable: false,
                            animation: google.maps.Animation.DROP,
                            position: {lat: {{ c.latitude }}, lng: {{ c.longitude}}},
                            title: "{{ c.country }}"
                        });

                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}

        marker.addListener('click', function() {
            var infowindow = new google.maps.InfoWindow({
                content:'<div id="content">'+this.title+'</div>'
            });
            infowindow.open(map, marker);

        });
    }




</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxtGKtso3diW1CFC3PKvhr2omLBTEaIjM&callback=initMap">
</script>
</body>
</html>