{% extends "OCBackBundle::layout.html.twig" %}

{% block content %}
    <section id="content">
        <div class="container">
            <header class="page-header">
                <h2 class="text-center">Accueil</h2>
            </header>

            <div class="overview row">

            <a href="{{ path('oc_back_observation_create') }}">
                <div class="col-md-3 col-sm-12">
                    <div class="o-item bg-cyan">
                        <div class="oi-title">
                            <span><i class="zmdi zmdi-plus zmdi-hc-2x"></i> Ajouter une observation</span>
                        </div>

                    </div>

                </div>
            </a>
                <a href="{{ path('oc_back_observations') }}">
                    <div class="col-md-3 col-sm-12">
                        <div class="o-item bg-amber">
                            <div class="oi-title">
                                <span><i class="zmdi zmdi-eye zmdi-hc-2x"></i> Consulter les observations</span>
                            </div>

                        </div>
                    </div>
                </a>
                {% if  app.user.roles|first == 'ROLE_NATURALISTE' %}


                    <a href="{{ path('oc_back_invalidated_observations') }}">
                        <div class="col-md-3 col-sm-12">
                            <div class="o-item bg-red">
                                <div class="oi-title">
                                    <span><i class="zmdi zmdi-check zmdi-hc-2x"></i> Valider les observations</span>
                                </div>

                            </div>
                        </div>
                    </a>

                {% endif %}





                <div class="col-md-3 col-sm-12">
                    <div class="o-item bg-green" >
                        <div class="oi-title">
                            <span"><i class="zmdi zmdi-chart zmdi-hc-2x"></i> Statistiques</span>
                        </div>


                    </div>
                </div>
                <a href="{{ path('fos_user_security_logout') }}">
                <div class="col-md-3 col-sm-12">
                    <div class="o-item bg-bluegray">
                        <div class="oi-title">
                            <span><i class="zmdi zmdi-power-off zmdi-hc-2x"></i> Déconnexion</span>
                        </div>


                    </div>
                </div>
                </a>
            </div>


            <div class="row">
                <div class="col-sm-12">

                    <!-- Calendar -->
                    <div class="tile">
                        <div class="calendar-widget"></div>
                    </div>
                </div>


            </div>
        </div>
    </section>

{% endblock %}

{% block custom_script %}

{% endblock custom_script %}