<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>

    <h1>Contact site NAO</h1>
    <br/>
    <p><strong>Sujet :</strong></p>
    <p>{{ subject }}</p>
    <br/>
    <p><strong>Nom :</strong></p>
    <p>{{ name }}</p>
    <br/>
    <p><strong>Email :</strong></p>
    <p>{{ email }}</p>
    <br/>
    <p>Message :</p>
    <p>{{ message }}</p>


</body>
</html>