{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <body class="login-content">

<div class="lc-block toggled" id="l-login">
    <div class="lcb-float"><i class="zmdi zmdi-pin-account"></i></div>

    <p>
        {{ 'resetting.password_already_requested'|trans }}
    </p>

    <div class="clearfix"></div>

    <a href="{{ path('fos_user_security_login') }}" class="btn btn-block btn-primary btn-float m-t-25" >Retour</a>
</div>


{% endblock body %}